#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.highlight-message {
  animation: flash 2s;
}
@keyframes flash {
  0% { background-color: rgba(59, 130, 246, 0.2); }
  100% { background-color: transparent; }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
